{% extends "base.html" %} {% block title %} Dịch vụ sự kiện {% endblock title %}
{% block header %}
<div
  class="container header-page d-flex justify-content-center align-items-center"
>
  <h1 class="fw-bold text-white">Dịch vụ</h1>
</div>
{% endblock header %}{% block content %}
<div class="container mb-4 mt-4">
  <div class="info-events">
    <div class="specialize-events text-white mb-4">
      <p class="text-center">Sinh nhật</p>
    </div>
    <h2 class="text-white title-events">
      Gói trang trí sinh nhật cao cấp tại nhà
    </h2>
    <div class="row">
      <div class="col">
        <img src="" alt="" />
      </div>
      <div class="col">
        <div class="d-flex gap-4 fs-4 text-white">
          <p>
            <i class="fa-solid fa-star" style="color: rgb(255, 212, 59)"></i>
            4.6
          </p>
          <p>125 đánh giá</p>
        </div>
        <div class="price-events text-white">
          <h2 class="fs-1 text-warning fw-bold">1.500.000 VNĐ</h2>
          <p>
            Không gian sinh nhật tông hồng – vàng, gồm backdrop, bóng bay, bàn
            tiệc và dây chữ. Thời gian setup 2–3 giờ tại địa điểm của bạn.
          </p>
        </div>
        <div class="d-flex align-items-center gap-4">
          <a
            class="btn btn-add-cart text-white d-flex justify-content-center align-items-center"
            >Thêm vào giỏ hàng</a
          >
          <a
            class="btn btn-danger btn-order text-white d-flex justify-content-center align-items-center"
            >Đặt ngay</a
          >
          <div class="saved">
            <a><i class="fa-regular fa-bookmark"></i></a>
          </div>
        </div>
        <div
          class="d-flex mt-4 mb-4 align-items-center who-is-events justify-content-between"
        >
          <img src="" alt="" />
          <h4 class="text-white">PartyDesign VN</h4>
          <a class="btn mx-4 btn-view-partner fs-5 fw-bold" href=""
            >Xem thông tin đối tác</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
