{% extends "base.html" %} {% block title %} Về chúng tôi{% endblock title %} {%
block header %}
<div
  class="container header-page d-flex justify-content-center align-items-center"
>
  <h1 class="fw-bold text-white">Về chúng tôi</h1>
</div>
{% endblock header %} {% block content %}
<div class="container mb-4 mt-4">
  <h2 class="title-about-us fw-bold mb-4 text-center">
    Dịch vụ chúng tôi cung cấp
  </h2>
  <div class="row align-items-start mb-4">
    <div class="col-2">
      <h4>Về chúng tôi:</h4>
    </div>
    <div class="col-10">
      <p>
        Với mục tiêu trở thành cầu nối uy tín giữa khách hàng và các đơn vị cung
        cấp dịch vụ sự kiện, nền tảng cung cấp đa dạng các dịch vụ từ trang trí,
        âm thanh – ánh sáng, thiết bị sự kiện đến nhân sự và các dịch vụ hỗ trợ
        khác.
      </p>
      <p>
        Thông qua nền tảng, khách hàng có thể dễ dàng tìm kiếm, tham khảo thông
        tin, so sánh dịch vụ và lựa chọn nhà cung cấp phù hợp với nhu cầu và
        ngân sách. Các đối tác cung cấp dịch vụ có thể giới thiệu sản phẩm, báo
        giá và tiếp cận khách hàng một cách thuận tiện.
      </p>
      <p>
        Nền tảng đóng vai trò trung gian hỗ trợ kết nối và trao đổi giữa hai
        bên, giúp quá trình tìm kiếm, lựa chọn và sử dụng dịch vụ sự kiện trở
        nên nhanh chóng, minh bạch và thuận tiện hơn. Đồng thời, thông tin về
        dịch vụ, đánh giá và phản hồi của khách hàng được cung cấp nhằm hỗ trợ
        người dùng đưa ra lựa chọn phù hợp.
      </p>
    </div>
  </div>
  <div class="row align-items-start mb-4">
    <div class="col-2">
      <h4>Về Hoạt động:</h4>
    </div>
    <div class="col-10">
      <p>
        Với nguồn lực của mình, chúng tôi đủ khả năng tổ chức sự kiện trọn gói,
        giúp khách hàng tiết kiệm thời gian, chi phí và nhân sự đầu mối quản lý
      </p>
    </div>
  </div>
</div>
<div class="container mb-4 mt-4 d-flex flex-column align-items-center">
  <h1 style="color: #242565" class="fw-bold">Hãy tham gia cùng chúng tôi</h1>
  <p class="desc-partner fw-medium">
    Chúng tôi quy tụ những con người đầy nhiệt huyết cùng chung một tầm nhìn.
    Trở thành thành viên của chúng tôi đồng nghĩa với việc bạn bước vào một cộng
    đồng năng động, nơi các giá trị cốt lõi được tôn vinh và đổi mới được thúc
    đẩy. Cùng nhau, chúng ta không chỉ tạo ra tác động bền vững mà còn kiến tạo
    những cơ hội phát triển đột phá.
  </p>
  <div class="d-flex gap-4">
    <div class="row card-about-me">
      <div class="col">
        <div class="card card-partner">
          <div class="row align-items-start">
            <div class="col-4">
              <img class="card-img-top" src="..." alt="Card image cap" />
            </div>
            <div class="col-8">
              <h5 class="card-title fw-bold">Taylor Swifft</h5>
              <p style="color: #8d8d8d">20 tháng 09 năm 2026</p>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
              dictum tortor sit amet pellentesque molestie. Fringilla, dapibus
              neque non, suscipit erat. Vestibulum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
