<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} {% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css"
      integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/home.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/about.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/contact.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/events.css')}}"
    />
  </head>
  <body>
    <header id="top">
      {% include "navbar.html" %} {% block header %}{% endblock header %}
    </header>
    <main>{% block content %} {% endblock content %}</main>

    <footer class="text-center text-lg-start text-white">
      <!-- Section: Links  -->
      <section class="items-footer">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Kết nối dịch vụ - Kiến tạo khoảnh
                khắc
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Liên kết nhanh</h6>
              <p>
                <a href="#!" class="text-reset">Trang chủ</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Dịch vụ</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Đối tác</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Về chúng tôi</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Hỗ trợ</h6>
              <p>
                <a href="#!" class="text-reset">Chính sách bảo mật</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Điều khoản dịch vụ</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Liên hệ</a>
              </p>
            </div>

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Theo dõi chúng tôi</h6>
              <p>
                <i
                  class="fa-brands fa-facebook"
                  style="color: rgb(73, 28, 204)"
                ></i>
              </p>
              <p>
                <i
                  class="fa-brands fa-twitter"
                  style="color: rgb(73, 28, 204)"
                ></i>
              </p>
              <p>
                <i
                  class="fa-brands fa-linkedin"
                  style="color: rgb(73, 28, 204)"
                ></i>
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div
        class="text-center p-4"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        © 2026 Copyright:
        <a class="text-reset fw-bold" href="#">Sự kiện dịch vụ</a>
      </div>
      <!-- Copyright -->
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
