{% extends "base.html" %} {% block title %} Trang chủ {% endblock %} {% block
content %}
<main>
  <div class="container mb-4 mt-4 d-flex flex-column align-items-center">
    <h1 style="color: #242565" class="fw-bold">Dịch vụ nổi bật</h1>
    <div class="row justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <div class="card card-product">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title title fw-bold">
              Gói trang trí sinh nhật cao cấp
            </h5>
            <span style="font-size: 16px">
              4.6
              <span style="font-weight: bold">(125 đánh giá)</span></span
            >
            <p class="card-text txt fw-bold">1.500.000 VNĐ</p>
            <a href="#" class="btn btn-primary">Xem chi tiết</a>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-all btn-primary mt-5 fw-bold">Xem tất cả</button>
  </div>
  <div class="container mb-4 mt-4 d-flex flex-column align-items-center">
    <h1 style="color: #242565" class="fw-bold">Đối tác nổi bật</h1>
    <p class="desc-partner fw-medium">
      Các đối tác uy tín chất lượng được nhiều khách hàng tin tưởng
    </p>
    <div class="row gap-4">
      <div class="col">
        <div class="card card-partner">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title fw-bold" style="color: #242565">
              HoaBinh Events
            </h5>
            <p class="card-text">
              Công ty tổ chức sự kiện uy tín chuyên cung cấp trọn gói nhân sự,
              kịch bản, trang trí tiệc sinh nhật, tiệc tri ân và Year End Party
              cho khách hàng cá nhân lẫn doanh nghiệp
            </p>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-all btn-primary mt-5 fw-bold">Xem tất cả</button>
  </div>
  <div class="container mb-4 mt-4 d-flex flex-column align-items-center">
    <div class="about_me d-flex align-items-center justify-content-around">
      <div class="d-flex flex-column align-items-center">
        <h3>Tại sao chọn nền tảng chúng tôi ?</h3>
        <p>
          Chúng tôi mang đến trải nghiệm đặt dịch vụ sự kiện dễ dàng, minh bạch
          và an toàn
        </p>
      </div>
      <div class="text_about_me d-flex flex-column align-items-center">
        <i class="fa-solid fa-magnifying-glass icon"></i>
        <h3>Dễ dàng</h3>
        <p>Dịch vụ đa dạng</p>
      </div>
      <div class="text_about_me d-flex flex-column align-items-center">
        <i class="fa-regular fa-star icon"></i>
        <h3>Thực tế</h3>
        <p>Từ trải nghiệm khách hàng</p>
      </div>
      <div class="text_about_me d-flex flex-column align-items-center">
        <i class="fa-regular fa-heart icon"></i>
        <h3>Tận tâm</h3>
        <p>Luôn đồng hành cùng bạn</p>
      </div>
    </div>
  </div>
  <div class="container mb-4 mt-4 d-flex flex-column align-items-center">
    <div
      class="explore-event d-flex align-items-center justify-content-between"
    >
      <div>
        <h3 class="fw-bold text-white" style="font-size: 40px">
          Sẵn sàng tổ chức sự kiện ?
        </h3>
        <p class="text-white fw-medium" style="font-size: 20px">
          Khám phá các dịch vụ chất lượng từ các đối tác uy tín ngay hôm nay !
        </p>
      </div>
      <div>
        <button class="btn btn-explore btn-danger fw-semibold">
          Khám phá dịch vụ
        </button>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
