<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-center" id="menu">
      <ul class="navbar-nav align-items-lg-center gap-lg-3">
        <li class="nav-item">
          <a class="nav-link active text-white" href="{{url_for ("home")}}">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for ("event_services") }}">Dịch vụ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for ("partner_user") }}">Đối tác</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for ("about_us") }}">Về chúng tôi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for ("contact_us") }}">Liên hệ</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-pill text-white btn-register" href="{{ url_for ("register_user") }}">Đăng ký</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-pill text-white btn-login" href="{{ url_for ("login_user") }}">Đăng nhập</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
